---
permalink: /portfolio/
layout: single
title: "Pharmacy Learning Portfolio"
---

<h4>A tracker for other portfolio entries that don't make it to the blog.</h4>
<br \>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in site.data.portfolio reversed %}
        <tr>
            <td>{{ entry.date | date_to_string }}</td>
            {% if entry.link == null %}
            <td>{{ entry.title }} <span style="font-size: small">({{ entry.action }})</span></td>
            {% else %}
            <td><a href="{{ entry.link }}" target="_blank">{{ entry.title }} <span style="font-size: small">({{ entry.action }})</span></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
